<%- include('./includes/head.ejs') %> 
<link rel="stylesheet" href="/css/admin.css">
<body>
    <%- include('./menu.ejs') %>     

    <div class="container dashboard-container">
        <div class="dashboard-card">
            <div class="card-icon orders-icon"></div>
            <h3>Orders Placed</h3>
            <p>Total number of orders placed</p>
            <p class="dashboard-number">2</p>
        </div>

        <div class="dashboard-card">
            <div class="card-icon value-icon"></div>
            <h3>Order Total Value</h3>
            <p>Total value of orders placed</p>
            <p class="dashboard-number">$1,000.00</p>
        </div>

        <div class="dashboard-card">
            <div class="card-icon products-icon"></div>
            <h3>Products for Sale</h3>
            <p>Number of products for sale</p>
            <p class="dashboard-number">9</p>
        </div>

        <div class="dashboard-card">
            <div class="card-icon sold-icon"></div>
            <h3>Total Products Sold</h3>
            <p>Number of products sold</p>
            <p class="dashboard-number">2</p>
        </div>
    </div>

    <%- include('./includes/end.ejs') %> 
</body>
